.Star-dust{
    fill: rgb(141, 78, 184);
}
.Star-star{
    fill: rgb(221, 154, 66);
}
.Star-planet{
    fill: rgb(96, 107, 107);
}

.Sun{
    opacity: 0.8    ;
}

.Star-Tooltip div{
    max-width: 400px;
    margin: 10px;
}

.Star-around{
    opacity:0;
}

.Star-star.Star-Gender-nonMale,
.Star-dust.Star-Gender-nonMale,
.Star-planet.Star-Gender-nonMale{
    fill: rgb(255, 255, 255) !important;    
}
.Star-Glow-Gender-nonMale{
    fill: rgb(248, 90, 195);
    opacity: 1;    
}