.App {
  text-align: center;
  background-color: black;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(2, 2, 2);
  height: 150px;
  padding: 20px;
  color: rgb(166, 133, 197);
}

.App-intro {
  font-size: large;
}

.App-universe{
  height: 100%;
  padding: 0 0 0 0;
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;  
  min-height: 800px;  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-description{
  text-align: justify;  
}

.App-description a{
  color: gray;
}

.App-description p{
  color: rgb(93, 93, 93);
}

.App-description-container{
  margin: 30px 60px 30px 60px;  
}

.App-description-container div{
  padding: 20px;
}

.App-author{
  text-align: right;
}