.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30px;
  }
  
  .header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
  }
  
  .header span{
    margin-right: 20px;
    font-size: 20px;
  }
  
  .intro {
    font-size: large;
  }
  
  span.author{
    font-size: small;
    color: rgb(179, 179, 179);
  }
  .author a{
    color: rgb(179, 179, 179);
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  